@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
input {
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
}

h3 {
  margin: 15px 0;
}
.firstName {
  margin-bottom: 40px;
}
.titule {
 margin-top: 40px;
  margin-bottom: 10px;
}
.uploadPhoto {
  margin-top: 40px;
}
button {
  padding: 15px;
  cursor: pointer;
  outline: none;
  background-color: #060afc;
  border: none;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
}

 .btn__group {
  border-radius: 7px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #867f7fea;
  padding: 30px;

}
.app > p {
  margin-bottom: 30px;
}
.nestedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.companies {
  display: flex;
  flex-direction: column;
  width: 39%;
  margin-bottom: 5%;
}

.currentInput {
  width: 95%;
}
#photo {
  width: 50%;
}
#addBtn {
  background-color: green;
  border-radius: 5px;
  margin-right: 5px;
  
}
#deleteBtn {
  background-color: red;
  border-radius: 5px;
}
.container {
  min-height: 100vh;
  padding: 30px;
}
.header {
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  background-color: #e8e2e2;
  padding: 30px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resumeTitle {
  opacity: 0.6;
}
.headerTitle {
  margin-bottom: 15px;
}
.resumeImage {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.resumeBody {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  min-height: 80vh;
  border: 1px solid #e0e0ea;
}
.resumeBodyTitle {
  margin-bottom: 5px;
}
.resumeBodyContent {
  text-align: justify;
  margin-bottom: 30px;
}

/* --------- */
/* Navbar */
/* --------- */
.navbar {
  background-color: #060afc;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  height: 4em;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #060afc;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

.social-icons {
  display: flex;
  float: left;
  align-items: center;
  width: 3em;
}

.red {
  color: rgb(2, 255, 2);
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social-icons {
  display: flex;
  float: right;
  align-items: center;
  width: 3em;
}

.blockquote-footer {
  color: #7190b9 !important;
}
